<div class="project-font-stack {{class}}">
  <div class="font-description">
    <p class="sc-text">{{ name }}</p>
    <p class="sc-text">{{ weight }}</p>
  </div>
  <div class="font-img-wrapper">
    <img src="{{ src }}" alt="{{ name }} {{ weight }}">
    <div class="underline sbg-text"></div>
  </div>
</div>
